.menu {
  margin: 15px 0;
  align-self: flex-start;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  width: 30%;
  height: 80%;
  position: relative;
}

.input {
  padding: 10px;
  border: 1px solid;
  border-radius: 20px;
  margin-bottom: 10px;

  .create {
    width: 90%;
  }

  .push {
    width: 25%;
  }
}

.format-error {
  color: red;
  text-align: left;
}

label {
  font-weight: bold;
}

.submit {
  position: absolute;
  right: 5%;
  border: solid 1px #007bff;
  background-color: transparent;
  color: #007bff;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 0.9em;
  border-radius: 5px;
  transition: background-color 0.5s, color 0.5s;

  &:hover {
    cursor: pointer;
    background-color: #007bff;
    color: white;
  }

  &:active {
    background-color: rgb(0, 55, 114);
  }
}

.canvas {
  border: 1px solid black;
  border-radius: 10px;
  height: 70vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 10% 0 2%;
}
